
.first{
    border: 1px solid black;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: underline;
    background-image:linear-gradient(to right, red,rgba(255, 255, 0, 0.712),green);  
}
.list{
    border: 1px solid red;
    width: 475px;
    height: 63px;
    margin: auto;
    margin-top: 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(pink,khaki) ;
}
.boxx{
    border: 2px solid green;
    /* width: 270px;
    height: 40px; */
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(hotpink,brown);
    font-weight: bolder;
}
.second{
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-image: linear-gradient(khaki,rgb(143, 143, 190));
}
.boxx4{
    grid-column: 2/3;
    margin-top: -15px;
}
.firs{
    border: 1px solid black;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: underline;
    background-image:linear-gradient(to right, red,yellow,red);  
    margin-top: 20px;
}
.boxes{
    margin: 20px;
    margin-top: 100px;
    margin-left: 85px;
    border: 2px solid red;
    width: 150px;
    height: 100px;
    text-decoration: underline;
    text-align: center;
    line-height: 30px;
    background-image: linear-gradient(rgb(28, 106, 138),rgb(182, 60, 66));
    color:silver;
    font-weight: bolder;
}
.parentboxes{
    background-image: radial-gradient(rgb(230, 132, 149),rgb(77, 224, 102),rgb(114, 187, 206));
    margin-top: 20px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* /* --------------------------------------------grid lower part----------------- * */
.box{
    border: 1px solid black;
    /* width: 100px;
    height: 100px; */
    padding: 10px; 
    /* margin: 10px;  */
}
.container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    border: 1px solid black;
    margin-top: 20px;
    font-weight: bolder;
    grid-gap: 25px;
}
.box1{
    background-color: red;
    grid-column:1/5 ;
    grid-row:1/2 ;
    color: white;
    text-align: center;
    font-weight: 35px;
}
.box2{
    background-color:lightgreen;
    text-align: center;
    color: white;
    font-size: 18px;
}
.box3{
    background-color: blue;
    text-align: left;
    color: white;
    font-size: 18px;
}
.box4{
    background-color: purple;
    text-align: left;
    color: white;
    font-size: 16px;
}
.box5{
    background-color: orange;
    grid-column:1/4 ;
    grid-row:3/4 ;
    text-align: left;
    color: white;
    font-size: 16px;
}
.box6{
    background-color: black;
    color: white;
    text-decoration: underline;
    grid-row:2/4 ;
    grid-column:4/5 ;
    width: 62px;
    
}
.box7{
    background-color: gray;
    grid-row:4/5 ;
    grid-column:1/5 ;
    text-align: center;
    font-weight: bolder;
}