h1{
    color: red;
}

h3{
    color: red;
}

li{
    color: brown;

}
p{
    color:brown
}

.bg{
    background-color: yellow;
    font-weight: 700;
}

.backe{
    font-weight: 700;
    text-decoration: line-through;
}

.sahi{
    background-color: yellow;
}

#underline{
    text-decoration: underline;
}

ul{
    letter-spacing: 5px;
}

#sss{
    background-color: yellow;
}